# Generaci贸n de tablas Hive

Esta notebook tiene como objetivo crear las tablas Hive para cada una de las estructuras parquet en la zona clean. Se van a crear external tables de Hive.

In [1]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .appName("crear_tablas_hive") \
    .enableHiveSupport() \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

2023-11-19T15:07:23,827 WARN [Thread-4] org.apache.hadoop.util.NativeCodeLoader - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2023-11-19T15:07:25,257 WARN [Thread-4] org.apache.spark.util.Utils - Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### Creaci贸n de base de datos

In [ ]:
# Crear una nueva base de datos en Hive
spark.sql("CREATE DATABASE if not exists datalake")

# Listar bases de datos para verificar
spark.sql("SHOW DATABASES").show()

In [ ]:
spark.sql("use datalake")

### Creaci贸n de tabla de usuarios

In [6]:
spark.sql("""
CREATE EXTERNAL TABLE usuarios (
    id_usuario STRING,
    nombre STRING,
    apellido STRING,
    email STRING,
    sexo  STRING,
    pais STRING,
    actividad STRING,
    subscripcion STRING,
    fecha_subs DATE,
    fecha_renov DATE, 
    ultimo_pago DATE
)
STORED AS PARQUET
LOCATION '/datalake/clean/usuarios';
""")

2023-11-19T13:48:52,204 INFO [Thread-4] org.apache.hadoop.hive.ql.security.authorization.plugin.sqlstd.SQLStdHiveAccessController - Created SQLStdHiveAccessController for session context : HiveAuthzSessionContext [sessionString=4fcd67ca-c0ab-435e-ba3a-5c6f3b4c2192, clientType=HIVECLI]
2023-11-19T13:48:52,207 WARN [Thread-4] org.apache.hadoop.hive.ql.session.SessionState - METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
2023-11-19T13:48:52,207 INFO [Thread-4] hive.metastore - Mestastore configuration hive.metastore.filter.hook changed from org.apache.hadoop.hive.metastore.DefaultMetaStoreFilterHookImpl to org.apache.hadoop.hive.ql.security.authorization.plugin.AuthorizationMetaStoreFilterHook
2023-11-19T13:48:52,212 INFO [Thread-4] hive.metastore - Closed a connection to metastore, current connections: 0
2023-11-19T13:48:52,214 INFO [Thread-4] hive.metastore - Trying to connect to metastore with URI thrift://localhost:9083
2023-11-19T13:48:52,215 INFO [Thread-4] hive.metastore - Opened a connection to metastore, current connections: 1
2023-11-19T13:48:52,244 INFO [Thread-4] hive.metastore - Connected to metastore.
2023-11-19T13:48:52,376 INFO [Thread-4] hive.metastore - Trying to connect to metastore with URI thrift://localhost:9083
2023-11-19T13:48:52,376 INFO [Thread-4] hive.metastore - Opened a connection to metastore, current connections: 2
2023-11-19T13:48:52,390 INFO [Thread-4] hive.metastore - Connected to metastore.

DataFrame[]

### Creaci贸n de tabla de actividades

In [3]:
df_actividades = spark.read.parquet("/datalake/clean/actividades")

In [4]:
df_actividades.printSchema()

root
 |-- id_actividad: string (nullable = true)
 |-- id_usuario: string (nullable = true)
 |-- id_dispositivo: string (nullable = true)
 |-- id_plan: string (nullable = true)
 |-- tipo_actividad: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- longitud: float (nullable = true)
 |-- latitud: float (nullable = true)
 |-- duracion: integer (nullable = true)
 |-- fecha_hora: timestamp (nullable = true)

In [6]:
spark.sql("""
CREATE EXTERNAL TABLE actividades (
    id_actividad STRING,
    id_usuario STRING,
    id_dispositivo STRING,
    id_plan STRING,
    tipo_actividad STRING,
    pais STRING,
    longitud FLOAT,
    latitud FLOAT,
    duracion INT,
    fecha_hora TIMESTAMP
)
STORED AS PARQUET
LOCATION '/datalake/clean/actividades';
""")

2023-11-19T15:08:12,246 INFO [Thread-4] org.apache.hadoop.hive.ql.security.authorization.plugin.sqlstd.SQLStdHiveAccessController - Created SQLStdHiveAccessController for session context : HiveAuthzSessionContext [sessionString=2930b55b-4b2e-44da-8728-b7ada1ce8a93, clientType=HIVECLI]
2023-11-19T15:08:12,249 WARN [Thread-4] org.apache.hadoop.hive.ql.session.SessionState - METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
2023-11-19T15:08:12,249 INFO [Thread-4] hive.metastore - Mestastore configuration hive.metastore.filter.hook changed from org.apache.hadoop.hive.metastore.DefaultMetaStoreFilterHookImpl to org.apache.hadoop.hive.ql.security.authorization.plugin.AuthorizationMetaStoreFilterHook
2023-11-19T15:08:12,256 INFO [Thread-4] hive.metastore - Closed a connection to metastore, current connections: 0
2023-11-19T15:08:12,258 INFO [Thread-4] hive.metastore - Trying to connect to metastore with URI thrift://localhost:9083
2023-11-19T15:08:12,259 INFO [Thread-4] hive.metastore - Opened a connection to metastore, current connections: 1
2023-11-19T15:08:12,269 INFO [Thread-4] hive.metastore - Connected to metastore.
2023-11-19T15:08:12,420 INFO [Thread-4] hive.metastore - Trying to connect to metastore with URI thrift://localhost:9083
2023-11-19T15:08:12,420 INFO [Thread-4] hive.metastore - Opened a connection to metastore, current connections: 2
2023-11-19T15:08:12,423 INFO [Thread-4] hive.metastore - Connected to metastore.

DataFrame[]

In [7]:
spark.sql("select * from actividades").show()

+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------+--------+--------+-------------------+
|        id_actividad|          id_usuario|      id_dispositivo|             id_plan|tipo_actividad|          pais|longitud| latitud|duracion|         fecha_hora|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------+--------+--------+-------------------+
|d2b9f5a4-e457-406...|62ae8127-7584-4fe...|5f6742cf-0cc3-499...|1a257404-2741-4d5...|      gimnasia|        Brazil|-47.9247|-38.5258|       1|2023-07-08 06:10:00|
|742ceebe-7cbd-42a...|bf91106f-2604-41a...|9c9d7ede-4915-4fd...|296f1010-fd8b-4fe...|      triatlon|        Russia|100.6432| 60.0272|       2|2023-03-01 02:16:00|
|f079c279-1249-40e...|5c8d1f57-d9d6-4e0...|af1e4b22-9836-4ff...|d3c2f38b-249f-40c...|         rugby|     Indonesia|112.6225| -7.7611|       3|2023-09-17 07:09:00|
|b8db20aa-9915-426...|f8c1ed92-4786-4f9...|5d5aa38b-9e5e-412...|b206f2a3-5ddd-47a...|  pelota vasca|        Russia|100.6432| 60.0272|       2|2023-05-27 10:45:00|
|59b61169-ecde-498...|40613c17-e5e7-4d1...|39e8db1f-0258-459...|147cd3b7-c8c6-4b6...|      natacion|          Cuba|-78.4163| 22.2258|       1|2023-08-24 06:49:00|
|8ea971d8-bc3e-44c...|88d695a1-1c4a-48e...|6188ae01-946b-40e...|0c384ba2-f2c6-4ca...|          golf|         China|106.3456| 35.3371|       1|2023-05-18 00:35:00|
|f0c4dc60-3cf3-4f9...|da8f364f-cd65-474...|0b8d0acd-7391-449...|bd1a59f8-8928-4e7...|        futbol|        Brazil|-47.9247|-38.5258|       1|2023-05-14 09:20:00|
|32bf0c7b-f21a-44b...|9f6a1ff5-24ba-478...|cac63327-f1b8-4ba...|952079f9-5b2e-4fe...|        cardio|       Bolivia|-63.2369|-17.4052|       3|2022-12-08 01:13:00|
|d25130a0-8a5d-4d4...|217c6845-7c0d-4bf...|a8ec5dc7-b977-432...|2c829d9d-fe05-41c...|          golf|       Vietnam|105.7858| 17.0296|       3|2023-10-29 14:26:00|
|c1cc1ec2-c886-401...|a533b8dd-d69d-480...|5f6742cf-0cc3-499...|1e2d7203-4d5d-4bc...|         rugby|        Canada|-102.234|  54.263|       3|2023-08-23 02:31:00|
|bbf9ea4b-92da-4d5...|3fa6fb41-0984-485...|9c9d7ede-4915-4fd...|5e91d1d7-7a6d-45c...|      triatlon|         China|106.3456| 35.3371|       1|2023-02-28 05:34:00|
|b17e5626-7322-41f...|09811ba4-6c48-4da...|af1e4b22-9836-4ff...|9486001c-d371-445...|         rugby|         China|106.3456| 35.3371|       2|2023-10-16 02:16:00|
|85973b7a-ccbc-468...|2c5556f3-2ea1-44b...|5d5aa38b-9e5e-412...|ae8ad1f2-6948-483...|      natacion|        Brazil|-47.9247|-38.5258|       2|2023-04-18 14:43:00|
|450dfea1-0901-403...|47a17097-468a-476...|39e8db1f-0258-459...|ad24d4a2-6d6a-4fd...|      ciclismo|        Russia|100.6432| 60.0272|       1|2023-04-04 02:09:00|
|403e65e0-fb25-4c9...|b16efe3f-0350-43c...|6188ae01-946b-40e...|45d226cb-97e2-468...|         rugby|     Indonesia|112.6225| -7.7611|       2|2023-06-14 20:30:00|
|2e97bcf6-f08d-438...|e47d2be1-c11a-496...|0b8d0acd-7391-449...|6d2e59c2-d835-4d0...|     atletismo|         China|106.3456| 35.3371|       3|2023-03-14 23:00:00|
|97a271fd-5536-454...|baf9dcf3-22ef-475...|cac63327-f1b8-4ba...|3daa65e4-958b-4eb...|        futbol|      Malaysia|103.3027|  4.6123|       3|2023-09-27 11:21:00|
|1464ffdb-52a1-4ca...|449c2bb4-4aa9-42c...|a8ec5dc7-b977-432...|a862dc28-bd36-457...|      ciclismo|        Serbia| 21.0284| 44.0241|       3|2023-08-03 23:13:00|
|a0aef17f-da73-46f...|9c1fc515-099c-4c8...|5f6742cf-0cc3-499...|03469e27-a2dd-436...|         baile|       Morocco| -7.5938|  33.685|       3|2023-01-28 15:36:00|
|b3b399f8-ded7-4ea...|494a3c85-d471-434...|9c9d7ede-4915-4fd...|cd4d63b1-f532-45d...|         boxeo|United Kingdom| -0.1257| 51.5086|       3|2023-01-26 21:32:00|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------+--------+--------+-------------------+
only showing top 20 rows

2023-11-19T15:15:53,949 WARN [netty-rpc-env-timeout] org.apache.spark.rpc.netty.NettyRpcEnv - Ignored failure: java.util.concurrent.TimeoutException: Cannot receive any reply from taller-bigdata-vm.internal.cloudapp.net:36637 in 10000 milliseconds

### Creaci贸n de tabla actividades_eventos

In [16]:
df_actividades_eventos = spark.read.parquet("/datalake/clean/actividades_eventos")

In [17]:
df_actividades_eventos.printSchema()

root
 |-- id_sensor: string (nullable = true)
 |-- pulse_rate: integer (nullable = true)
 |-- id_actividad: string (nullable = true)
 |-- longitud: float (nullable = true)
 |-- latitud: float (nullable = true)
 |-- fecha_hora: timestamp (nullable = true)

In [19]:
spark.sql("""
CREATE EXTERNAL TABLE actividades_eventos (
    id_sensor STRING,
    pulse_rate integer,
    id_actividad STRING,
    longitud FLOAT,
    latitud FLOAT,
    fecha_hora TIMESTAMP
)
STORED AS PARQUET
LOCATION '/datalake/clean/actividades_eventos';
""")

DataFrame[]

In [20]:
spark.sql("select * from actividades_eventos").show()

+--------------------+----------+--------------------+--------+--------+-------------------+
|           id_sensor|pulse_rate|        id_actividad|longitud| latitud|         fecha_hora|
+--------------------+----------+--------------------+--------+--------+-------------------+
|853dc9e4-6094-451...|       173|d2b9f5a4-e457-406...|-47.9247|-38.5258|2023-07-08 06:10:00|
|278b2f82-087a-469...|       128|742ceebe-7cbd-42a...|100.6432| 60.0272|2023-03-01 02:16:00|
|ea0b5fad-ff1d-491...|       148|f079c279-1249-40e...|112.6225| -7.7611|2023-09-17 07:09:00|
|f6f4ad28-30e2-4c8...|       110|b8db20aa-9915-426...|100.6432| 60.0272|2023-05-27 10:45:00|
|e63edcf3-eca8-412...|       170|59b61169-ecde-498...|-78.4163| 22.2258|2023-08-24 06:49:00|
|bab58192-fc85-49c...|        42|8ea971d8-bc3e-44c...|106.3456| 35.3371|2023-05-18 00:35:00|
|cafd29e6-3782-4fa...|       197|f0c4dc60-3cf3-4f9...|-47.9247|-38.5258|2023-05-14 09:20:00|
|ce9ed08c-ccdc-48d...|       198|32bf0c7b-f21a-44b...|-63.2369|-17.4052|2022-12-08 01:13:00|
|999d5a48-6543-4bd...|       166|d25130a0-8a5d-4d4...|105.7858| 17.0296|2023-10-29 14:26:00|
|833ffb9f-2bcd-442...|       171|c1cc1ec2-c886-401...|-102.234|  54.263|2023-08-23 02:31:00|
|33cd50a4-13de-4c9...|        93|bbf9ea4b-92da-4d5...|106.3456| 35.3371|2023-02-28 05:34:00|
|0fea6730-98b8-4ae...|        64|b17e5626-7322-41f...|106.3456| 35.3371|2023-10-16 02:16:00|
|8099ae7b-7b54-4e5...|        40|85973b7a-ccbc-468...|-47.9247|-38.5258|2023-04-18 14:43:00|
|cacba4b7-580d-40b...|       109|450dfea1-0901-403...|100.6432| 60.0272|2023-04-04 02:09:00|
|280b39f5-153d-4c9...|       166|403e65e0-fb25-4c9...|112.6225| -7.7611|2023-06-14 20:30:00|
|9293d8f3-cf73-488...|       138|2e97bcf6-f08d-438...|106.3456| 35.3371|2023-03-14 23:00:00|
|39bf036f-0d81-4ff...|       144|97a271fd-5536-454...|103.3027|  4.6123|2023-09-27 11:21:00|
|f709fcfb-7a2b-43b...|       197|1464ffdb-52a1-4ca...| 21.0284| 44.0241|2023-08-03 23:13:00|
|ab68d4ad-5c8a-456...|        62|a0aef17f-da73-46f...| -7.5938|  33.685|2023-01-28 15:36:00|
|0ae925b0-bb7d-4c8...|       122|b3b399f8-ded7-4ea...| -0.1257| 51.5086|2023-01-26 21:32:00|
+--------------------+----------+--------------------+--------+--------+-------------------+
only showing top 20 rows

### Creaci贸n de tabla planes_de_entrenamiento

In [8]:
df_planes = spark.read.parquet("/datalake/clean/planes_de_entrenamiento")
df_planes.printSchema()

root
 |-- id_plan: string (nullable = true)
 |-- id_usuario: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- plan_duracion: float (nullable = true)
 |-- instrucciones: string (nullable = true)
 |-- objetivo: string (nullable = true)

In [9]:
spark.sql("DROP TABLE planes_de_entrenamiento")

DataFrame[]

In [10]:
spark.sql("""
CREATE EXTERNAL TABLE planes_de_entrenamiento (
    id_plan STRING,
    id_usuario STRING,
    tipo STRING,
    plan_duracion FLOAT,
    instrucciones STRING,
    objetivo STRING
)
STORED AS PARQUET
LOCATION '/datalake/clean/planes_de_entrenamiento';
""")

DataFrame[]

In [11]:
spark.sql("select * from planes_de_entrenamiento").show()

+--------------------+--------------------+----------------+-------------+--------------------+--------------------+
|             id_plan|          id_usuario|            tipo|plan_duracion|       instrucciones|            objetivo|
+--------------------+--------------------+----------------+-------------+--------------------+--------------------+
|1a257404-2741-4d5...|62ae8127-7584-4fe...|   media-maraton|         1.63|"Lorem ipsum dolo...|"Maecenas leo odi...|
|296f1010-fd8b-4fe...|bf91106f-2604-41a...|            hiit|         1.73|"Nulla ut erat id...|"Duis bibendum. M...|
|d3c2f38b-249f-40c...|5c8d1f57-d9d6-4e0...|condicionamiento|          1.3|"Proin leo odio p...|"Donec diam neque...|
|b206f2a3-5ddd-47a...|f8c1ed92-4786-4f9...|            otro|         1.25|"Cum sociis natoq...|"Quisque id justo...|
|147cd3b7-c8c6-4b6...|40613c17-e5e7-4d1...|            hiit|         1.67|"Duis consequat d...|"Maecenas leo odi...|
|0c384ba2-f2c6-4ca...|88d695a1-1c4a-48e...|        triatlon|          1.0|"Cras non velit n...|"Mauris enim leo,...|
|bd1a59f8-8928-4e7...|da8f364f-cd65-474...|            otro|         1.56|"Mauris enim leo ...|"Integer ac leo. ...|
|952079f9-5b2e-4fe...|9f6a1ff5-24ba-478...|            otro|         1.27|"Duis bibendum fe...|"Cum sociis natoq...|
|2c829d9d-fe05-41c...|217c6845-7c0d-4bf...|   bajar de peso|         1.37|"Curabitur in lib...|"Praesent id mass...|
|1e2d7203-4d5d-4bc...|a533b8dd-d69d-480...|   bajar de peso|         0.58|"Fusce consequat....|"Curabitur gravid...|
|5e91d1d7-7a6d-45c...|3fa6fb41-0984-485...|disminuir stress|          1.1|"Maecenas ut mass...|"Cum sociis natoq...|
|9486001c-d371-445...|09811ba4-6c48-4da...|   bajar de peso|         1.37|"Mauris enim leo ...|"Curabitur in lib...|
|ae8ad1f2-6948-483...|2c5556f3-2ea1-44b...|            otro|          1.4|"Vestibulum ac es...|"Sed sagittis. Na...|
|ad24d4a2-6d6a-4fd...|47a17097-468a-476...|   bajar de peso|         1.85|"Vestibulum ac es...|"Proin leo odio, ...|
|45d226cb-97e2-468...|b16efe3f-0350-43c...|disminuir stress|         0.82|"Maecenas tristiq...|"Nullam porttitor...|
|6d2e59c2-d835-4d0...|e47d2be1-c11a-496...|disminuir stress|         0.54|"Proin interdum m...|"Morbi non lectus...|
|3daa65e4-958b-4eb...|baf9dcf3-22ef-475...|   media-maraton|         1.74|"Cras non velit n...|"Mauris enim leo,...|
|a862dc28-bd36-457...|449c2bb4-4aa9-42c...|condicionamiento|         0.51|"Proin interdum m...|"In quis justo. M...|
|03469e27-a2dd-436...|9c1fc515-099c-4c8...|        triatlon|         1.98|"Suspendisse pote...|"Proin interdum m...|
|cd4d63b1-f532-45d...|494a3c85-d471-434...|   bajar de peso|         1.12|"Sed sagittis. Na...|"Vestibulum quam ...|
+--------------------+--------------------+----------------+-------------+--------------------+--------------------+
only showing top 20 rows

### Creaci贸n de tabla dispositivos

In [24]:
df_planes = spark.read.parquet("/datalake/clean/dispositivos")
df_planes.printSchema()

root
 |-- id_dispositivo: string (nullable = true)
 |-- model: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- operating_system: string (nullable = true)

In [25]:
spark.sql("""
CREATE EXTERNAL TABLE dispositivos (
    id_dispositivo STRING,
    model STRING,
    brand STRING,
    operating_system STRING
)
STORED AS PARQUET
LOCATION '/datalake/clean/dispositivos';
""")

DataFrame[]

In [26]:
spark.sql("select * from dispositivos").show()

+--------------------+----------------+-------+----------------+
|      id_dispositivo|           model|  brand|operating_system|
+--------------------+----------------+-------+----------------+
|5f6742cf-0cc3-499...|   iPhone 12 Pro|  Apple|             iOS|
|9c9d7ede-4915-4fd...|         Pixel 5| Google|         Android|
|af1e4b22-9836-4ff...|    Xperia 1 III|   Sony|         Android|
|5d5aa38b-9e5e-412...|     Find X3 Pro|   Oppo|         Android|
|39e8db1f-0258-459...|          Velvet|     LG|         Android|
|6188ae01-946b-40e...|         X60 Pro|   Vivo|         Android|
|0b8d0acd-7391-449...|           9 Pro|OnePlus|         Android|
|cac63327-f1b8-4ba...|Galaxy S21 Ultra|Samsung|         Android|
|a8ec5dc7-b977-432...|           Mi 11| Xiaomi|         Android|
+--------------------+----------------+-------+----------------+