In [1]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession \
    .builder \
    .appName("crear_one_big_table") \
    .enableHiveSupport() \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

2023-11-19T00:29:17,429 WARN [Thread-4] org.apache.hadoop.util.NativeCodeLoader - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2023-11-19T00:29:18,741 WARN [Thread-4] org.apache.spark.util.Utils - Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2023-11-19T00:29:18,743 WARN [Thread-4] org.apache.spark.util.Utils - Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2023-11-19T00:29:18,743 WARN [Thread-4] org.apache.spark.util.Utils - Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [6]:
spark.sql("""
    select count(1)
    from 
        datalake.actividades_eventos ae 
            INNER JOIN datalake.actividades a ON (ae.id_actividad = a.id_actividad)
            INNER JOIN datalake.usuarios u ON (a.id_usuario = u.id_usuario) 
       --     INNER JOIN datalake.dispositivos d ON (a.id_dispositivo = d.id_dispositivo)
       --     INNER JOIN datalake.planes_de_entrenamiento pe ON (a.id_plan = pe.id_plan)
""").show()

+--------+
|count(1)|
+--------+
|    3990|
+--------+

In [9]:
spark.sql("select count(*), count(distinct id_usuario) from datalake.usuarios").show()

+--------+--------------------------+
|count(1)|count(DISTINCT id_usuario)|
+--------+--------------------------+
|    1000|                       197|
+--------+--------------------------+

In [10]:
spark.sql("select * from datalake.usuarios order by id_usuario").show()

+--------------------+--------+-----------+--------------------+----------+--------------+-------------+------------+----------+-----------+-----------+
|          id_usuario|  nombre|   apellido|               email|      sexo|          pais|    actividad|subscripcion|fecha_subs|recha_renov|ultimo_pago|
+--------------------+--------+-----------+--------------------+----------+--------------+-------------+------------+----------+-----------+-----------+
|0075f59b-4ec7-49b...|   Becca|    Schwand|bschwandm@deviant...|  Bigender|        Russia|personalizado|       anual|2023-01-27|       null| 2022-12-15|
|0075f59b-4ec7-49b...|   Prudi|    Vanyard|pvanyardbc@woothe...|Polygender|   North Korea|     triatlon|       anual|2023-05-03|       null| 2023-03-01|
|0075f59b-4ec7-49b...|   Traci|   Cansdill|tcansdillm4@quant...|    Female|      Colombia|     triatlon|      basica|2022-12-24|       null| 2023-03-27|
|0075f59b-4ec7-49b...|  Tallie|  Ellingham|tellingham56@kick...|    Female|        Poland|         null|       anual|2023-08-06|       null| 2023-07-25|
|0075f59b-4ec7-49b...|  Elmore|  MacAndrew|emacandrewg7@ramb...|      Male|         China|       futbol|       anual|2023-04-03|       null| 2023-06-27|
|0075f59b-4ec7-49b...|   Nolly|  Dumbellow|ndumbellowrp@slid...|      Male|     Guatemala|         null|      basica|2023-04-06|       null| 2023-05-24|
|00a7be1c-b623-453...|  Hollis|   Crucitti|hcrucitti6k@earth...|      Male|      Colombia|     triatlon|      basica|2023-05-13|       null| 2023-07-15|
|00a7be1c-b623-453...|   Noemi|        Ogg|nogghn@huffington...|    Female|     Lithuania|         yoga|      basica|2023-05-10|       null| 2023-08-26|
|00a7be1c-b623-453...|     Dew|   Sandells| dsandellsbe@unc.edu|      Male|Czech Republic|personalizado|       anual|2023-04-13|       null| 2022-11-24|
|00a7be1c-b623-453...| Brander| Kaesmakers|bkaesmakers4@whit...|      Male|         China|     natacion|       anual|2022-12-27|       null| 2023-06-08|
|00a7be1c-b623-453...|  Andeee|Flancinbaum|aflancinbaummj@go...|    Female|         China|      basquet|       anual|2023-02-28|       null| 2023-05-16|
|0406c80b-6b9b-49c...|  Brewer|        Nix|    bnixih@bbc.co.uk|      null|     Argentina|      basquet|       anual|2023-03-24|       null| 2023-03-30|
|0406c80b-6b9b-49c...|  Elnore|    Naisbit|enaisbit11@google.nl|    Female|       Croatia|      basquet|       anual|2023-01-02|       null| 2023-06-05|
|0406c80b-6b9b-49c...|   Cyrus|      Barde|cbarde75@statcoun...|   Agender|        Russia|     ciclismo|      basica|2022-11-26|       null| 2022-12-16|
|0406c80b-6b9b-49c...| Kearney|   Bonafant|kbonafantc2@googl...|      Male|    Costa Rica|      basquet|      basica|2023-03-04|       null| 2023-01-02|
|0406c80b-6b9b-49c...|Blakeley|     Benian|bbeniannb@jiathis...|      null| United States|     natacion|      basica|2023-01-16|       null| 2023-08-22|
|04536c87-99be-43a...|  Danice|   Laurisch|dlaurisch36@ifeng...|    Female|     Indonesia|     ciclismo|      basica|2023-02-16|       null| 2023-09-19|
|04536c87-99be-43a...|Grantley|   Tomasian|gtomasianeh@jiath...|      Male|         China|       futbol|      basica|2023-03-19|       null| 2023-09-29|
|04536c87-99be-43a...|    Bran|    Jackett|bjackettoq@google.ru|      Male|        Russia|         yoga|       anual|2022-12-18|       null| 2023-10-31|
|04536c87-99be-43a...| Deeanne|      Brome|  dbrome8f@sogou.com|    Female|   Philippines|         yoga|      basica|2023-08-11|       null| 2023-08-06|
+--------------------+--------+-----------+--------------------+----------+--------------+-------------+------------+----------+-----------+-----------+
only showing top 20 rows